*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Inter,Arial,sans-serif;
  background:#081225;
  color:#ffffff;
  padding:20px;
}

.container{
  max-width:1800px;
  margin:auto;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
  flex-wrap:wrap;
  gap:15px;
}

.title h1{
  font-size:34px;
}

.title p{
  margin-top:8px;
  color:#94a3b8;
}

.actions{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

input,
button{
  background:#1e293b;
  color:white;
  border:none;
  padding:12px 16px;
  border-radius:12px;
}

button{
  background:#2563eb;
  cursor:pointer;
  font-weight:bold;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:18px;
  margin-bottom:20px;
}

.card{
  background:linear-gradient(
    145deg,
    #0f172a,
    #17233a
  );

  padding:25px;

  border-radius:22px;
}

.card span{
  color:#94a3b8;
}

.card h2{
  margin-top:10px;
  font-size:38px;
}

.charts{
  display:grid;
  grid-template-columns:420px 1fr;
  gap:20px;
  margin-bottom:25px;
}

.chart-box{
  background:#081633;
  border-radius:24px;
  padding:30px;
}

.chart-box h3{
  text-align:center;
  margin-bottom:25px;
}

.pie-wrapper{
  width:240px;
  height:240px;
  margin:auto;
}

.risk-grid{
  margin-top:20px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:12px;
}

.risk-card{
  background:#1e293b;
  border-radius:18px;
  padding:20px;
  text-align:center;
}

.risk-read{
  border-left:5px solid #22c55e;
}

.risk-modify{
  border-left:5px solid #f59e0b;
}

.risk-full{
  border-left:5px solid #ef4444;
}

.risk-title{
  color:#94a3b8;
  font-size:13px;
}

.risk-number{
  margin-top:10px;
  font-size:34px;
  font-weight:bold;
}

.tree-box{
  background:#081633;
  border-radius:24px;
  padding:30px;
}

.folder-title{
  cursor:pointer;
  padding:6px 0;
  font-size:15px;
  font-weight:600;
}

.permission{
  background:#16233d;
  border-radius:18px;
  padding:18px;
  margin-top:12px;
  margin-bottom:12px;
  border-left:5px solid #3b82f6;
}

.perm-read{
  border-left-color:#22c55e;
}

.perm-modify{
  border-left-color:#f59e0b;
}

.perm-full{
  border-left-color:#ef4444;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
  margin-top:15px;
}

.info{
  background:#1e293b;
  padding:14px;
  border-radius:14px;
}

.tree-box h2{
  margin-bottom:20px;
}

.info span{
  display:block;
  color:#94a3b8;
  font-size:12px;
  margin-bottom:5px;
}